$primary: #f4661b;

@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../bourbon/bourbon";

@function background-color($opacity:1) {
  @return rgba(14, 17, 17, $opacity);
}

@mixin main-form() {
  form {
    label {
      width: 100%;;
      @include rfs(0.85rem, margin-top);
    }

    input {
      &[type=submit] {
        @include rfs(0.85rem, margin-top);
        @include rfs(0.85rem, margin-bottom);
      }
    }
  }
}

$background-color-label: tint(background-color(), 5%);
$border-color-label: tint(background-color(), 15%);

:root {
  --bs-body-font-family: 'Noto Sans', sans-serif;
  --bs-body-font-weight: 300;
  --bs-body-bg: #{background-color()};
  --bs-body-color: white;
}

body {
  position: relative;

  .hide {
    display: none;
  }

  header {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    @include rfs(0.5rem 0, padding);
    z-index: 2;

    a {
      text-decoration: none;

      h1 {
        position: relative;
        color: white;

        svg {
          position: absolute;
          top: 0;
          left: -1rem;
          width: 1.5rem;
          color: $primary;
          transform: rotate(-28deg);
          z-index: -1;
        }

        small {
          font-size: 30%;
        }
      }
    }

    .menu-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      #settings-btn {
        @include rfs(2.5rem, width);
        @include rfs(2.5rem, height);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid tint(background-color(), 25%);
        background-color: tint(background-color(), 15%);
        border-radius: $border-radius;

        &:hover {
          cursor: pointer;
          border: 1px solid $primary;
          background-color: tint(background-color(), 7%);
          color: rgba(white, 0.5);
        }

        svg {
          width: 60%;
        }
      }

      #settings-submenu {
        position: absolute;
        top: calc(100% - 1px);
        left: 50%;
        transform: translateX(-50%);
        background-color: tint(background-color(), 7%);
        @include rfs(1rem 2rem, padding);
        border-radius: $border-radius;
        text-align: center;
        display: none;

        &.visible {
          display: block;
        }

        a {
          color: inherit;
          text-decoration: none;
          @include rfs(0.5rem 0, padding);
          display: inline-block;

          &:hover {
            color: $primary;
          }
        }

        span {
          @include rfs(0.5rem 0, padding);
          display: inline-block;
          color: $primary;
        }
      }
    }

  }

  .fill-screen {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 0;

    @include main-form;
  }

  #labels-wrapper {
    $margin-top: 7rem;
    position: fixed;
    top: calc(100% - 1px);
    background-color: $background-color-label;
    border-top: 1px solid $border-color-label;
    z-index: 5;
    transition: top 200ms;
    max-height: calc(100vh - #{$margin-top});

    #labels-btn {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: calc(100% - 1px);
      background-color: $background-color-label;
      @include rfs(0.35rem 1.2rem, padding);
      @include rfs(0.5rem 0.5rem 0 0, border-radius);
      border-top: 1px solid $border-color-label;
      border-left: 1px solid $border-color-label;
      border-right: 1px solid $border-color-label;
      z-index: 6;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-weight: 400;
      @include font-size(0.8rem);

      &:hover {
        cursor: pointer;
        color: $primary;
      }

      span {
        @include rfs(0 0.5rem, padding);
      }

      svg {
        width: 0.5rem;

        &.unfold {
          transform: rotate(180deg);
        }
      }
    }

    .container {
      overflow: hidden;
      height: 100%;

      #labels-container-title {
        text-align: center;
        font-weight: 400;
        @include rfs(1.2rem 0, padding);
        @include font-size(1.2rem);
      }

      #labels-container-body {
        max-height: 100%;
        overflow-y: scroll;

        @include main-form;
      }
    }

    &.full-screen {
      top: #{$margin-top};
      height: calc(100vh - #{$margin-top});
    }
  }

  #waiting-screen {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: background-color();
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    transition: top 20ms, opacity 200ms;

    &.hide {
      opacity: 0;
      top: -100vh;
    }

    .wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      .ring {
        @include rfs(5rem, width);
        @include rfs(5rem, height);
        border-radius: 50%;
        @include prefixer(animation, ring 2s linear infinite, ("webkit", "moz", "o"))
      }
    }

    .text {
      @include rfs(1.5rem 0 0 0, margin);
      font-weight: 400;
    }

    @keyframes ring {
      0% {
        transform: rotate(0deg);
        @include rfs(0.05rem 0.15rem 0.09rem #e65c00, box-shadow);
      }
      33% {
        transform: rotate(120deg);
        @include rfs(0.05rem 0.15rem 0.09rem #0caffa, box-shadow);
      }
      66% {
        transform: rotate(240deg);
        @include rfs(0.05rem 0.15rem 0.09rem #880c0e, box-shadow);
      }
      100% {
        transform: rotate(360deg);
        @include rfs(0.05rem 0.15rem 0.09rem #e65c00, box-shadow);
      }
    }
  }
}