{% extends "main-layout.html" %}

{% block body %}

{% endblock %}

{% block label_body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-4">&nbsp;</div>
            <div class="col-4 label-form">
                <form action="/add-label" method="post">
                    <div>
                        <label>Label*
                            <input id="label-name" type="text" name="label_name" placeholder="Nom du label"
                                   class="form-control"
                                   required>
                            <input id="label-slug" type="hidden" name="label_slug" value="">
                        </label>
                    </div>
                    <div>
                        <label>
                            Description
                            <input type="text" name="description" placeholder="Description" class="form-control">
                        </label>
                    </div>
                    <div><input id="add-label" type="submit" value="Valider" class="btn btn-primary"></div>
                </form>
            </div>
            <div class="col-4">&nbsp;</div>
        </div>
    <div class="row">
        <div class="col-12">
            {% for key, value in main_data %}
                
            {% endfor %}
        </div>
    </div>
    </div>

{% endblock %}